[alias]
    co = checkout
    cm = commit
    st = status
    br = branch
    bra = branch --all
    sm = submodule
    bl = blame -w -C -C -C
    ds = diff --staged
    wt = worktree
    unst = restore --staged
    coub = !"coub() { git checkout -b users/dseremet/$1; }; coub"
    hist = log --graph --color --pretty=format:'%Cred%h%Creset %ad |%C(yellow)%d%Creset %s %C(blue)%ae %C(bold blue)<%an>%Creset' --date=short
    ha = log --graph --color --pretty=format:'%Cred%h%Creset %ad |%C(yellow)%d%Creset %s %C(blue)%ae %C(bold blue)<%an>%Creset' --date=short --branches=* --remotes=*
    follow = log --follow -p --
    del-merged = !"git branch --merged | grep -vE 'main|master|\\*' | xargs -n 1 git branch -d"
    fush = push --force-with-lease
    br-prune = !"git remote prune origin | grep '\\[pruned\\]' | awk '{print $NF}' | sed -e 's:^origin/::' | xargs -n 1 git branch -D"

[pull]
    rebase = false

[diff]
    tool = nvimdiff

[push]
    autoSetupRemote = true

[user]
	name = Dan Seremet
	email = dan.seremet@riverlane.com
[init]
	defaultBranch = main
